.address {
  text-align: center;
}

.address__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $tablet) {
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (max-width: $mobile) {
    padding-left: 0;
    padding-right: 0;
  }
}

.address h2 {
  margin: 0;
  margin-bottom: 27px;
  padding: 0 15px;

  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $address-header;
  text-align: center;

  @media (max-width: $tablet) {
    font-size: 24px;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile) {
    font-size: 18px;
  }
}

.address p {
  padding: 0 15px;
  margin: 0;
  margin-bottom: 40px;
  width: 480px;

  text-align: center;
  font-size: 17px;
  line-height: 31px;
  color: rgba($address, 0.7);

  @media (max-width: $tablet) {
    width: 100%;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile) {
    max-width: 285px;
  }
}

.address__map {
  text-align: center;
  width: 100%;
}

.address__map > img {
  object-fit: cover;

  @media (max-width: $tablet) {
    height: 545px;
    width: 100%;
  }

  @media (max-width: $mobile) {
    height: 245px;
    width: 100%;
  }
}
