.form > p {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
}

.form__container {
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 20px;
}

.form input {
  width: 100%;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 14px;

  font-weight: normal;
  font-size: 15px;
  line-height: 24px;

  color: $input;
  background: $input-bgc;
  border: 1px solid $input-border;
  border-radius: 4px;
  appearance: none;

  &::placeholder {
    color: rgba($input, 0.5);
  }
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 51px;

  background-color: $button-bgc;
  color: $button;
  border: none;
  border-radius: 6px;

  appearance: none;
}
