.header {
  background-color: transparent;

  @media (max-width: $tablet) {
    &--active {
      background-color: $header-bgc-active;
    }
  }
}

.header__container {
  padding: 0 165px;
  margin-top: 20px;

  @media (max-width: $tablet) {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 2px;
    padding-right: 0;
    padding-left: 23px;
    padding-top: 0;

    .header--active & {
      position: fixed;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $header-bgc-active;
      width: 100vw;
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0;
    }

    .page--nojs & {
      position: static;
      min-height: auto;
      width: 100vw;
    }
  }
}

.header__logo {
  display: none;

  @media (max-width: $tablet) {
    display: block;
    margin-top: 23px;

    .header--active & {
      display: none;
    }
  }

  @media (max-width: $mobile) {
    margin-left: -6px;
  }
}

.header__nav {
  @media (max-width: $tablet) {
    display: none;

    .header--active & {
      display: flex;
      align-self: stretch;
      overflow: scroll;
    }

    .page--nojs & {
      margin-top: 70px;
    }
  }
}

.header__toggle {
  display: none;

  @media (max-width: $tablet) {
    display: block;
    align-self: flex-end;

    .page--nojs & {
      display: none;
    }
  }
}
