.hero {
  display: flex;
  flex-flow: row wrap;
  min-height: 763px;
  justify-content: space-around;
  padding-top: 265px;

  color: $hero;

  @media (max-width: $tablet) {
    min-height: auto;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0;
  }
}

.hero__logo {
  order: -1;

  @media (max-width: $tablet) {
    display: none;
  }
}

.hero__image {
  position: absolute;
  top: 0;
  left: 50%;

  width: 100%;

  background-color: $header-bgc;

  z-index: -1;
  transform: translateX(-50%);

  text-align: center;

  @media (max-width: $tablet) {
    min-height: 340px;
  }
}

.hero__image img {
  vertical-align: bottom;
  width: 100%;
  height: 825px;
  object-fit: cover;
  object-position: top;

  @media (max-width: $tablet) {
    height: 340px;
    object-position: center;
  }

  @media (max-width: $mobile) {
    height: 390px;
  }
}

.hero__desc {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-top: -10px;
  margin-left: 40px;

  @media (max-width: $tablet) {
    width: 430px;
    margin-left: 0;
    margin-top: 65px;
    margin-bottom: 130px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    max-width: 430px;
    margin-bottom: 123px;
  }
}

.hero__desc > h2 {
  margin-top: 23px;
  margin-bottom: 6px;

  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;

  color: #ffffff;

  @media (max-width: $tablet) {
    font-size: 30px;
    line-height: 42px;

    margin-top: 20px;
    margin-bottom: 0px;

    text-align: center;
  }

  @media (max-width: $mobile) {
    margin-top: 4px;
  }
}

.hero__desc > p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;

  opacity: 0.8;

  @media (max-width: $tablet) {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
  }
}

.hero__form {
  max-width: 327px;

  margin-right: 40px;
  margin-top: -5px;

  @media (max-width: $tablet) {
    color: $form-tablet;
    margin-right: 0;
    margin-top: 0;
  }
}
