.nav__list {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: flex-start;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;

  list-style: none;
  border-bottom: solid rgba($nav-border, 0.2);

  @media (max-width: $tablet) {
    display: flex;
    position: static;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100%;
    overflow-y: scroll;
  }
}

.nav__item {
  @media (max-width: $tablet) {
    margin-bottom: 30px;
    align-self: stretch;
    background-color: $nav-link-bgc-active;
  }
}

.nav__link {
  padding: 5px 20px;

  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $nav-link;

  opacity: 0.7;

  outline: none;
  transition: all 0.2 ease-in;

  &:hover,
  &:focus {
    color: $nav-link-hover;
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet) {
    position: relative;
    display: block;
    padding: 17px 40px 17px 16px;
    width: 100%;
    height: 100%;

    text-align: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: normal;
    color: $nav-link-active;
    opacity: 1;

    &::after {
      position: absolute;
      top: 50%;
      right: 30px;

      content: "";
      width: 9px;
      height: 9px;
      border-top: 2px solid $nav-link-icon;
      border-right: 2px solid $nav-link-icon;

      transform: rotate(45deg) translateY(-50%);
    }
  }

  @media (max-width: $mobile) {
    text-align: start;
  }
}
