.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;

  font-family: $font-family;
  font-size: 20px;
  color: black;

  &--block {
    overflow: hidden;
  }
}

.page__header {
  flex: 0 0 auto;
}

.page__main {
  flex: 1 0 auto;
}

.page__footer {
  flex: 0 0 auto;
}

.page__hero {
  margin-bottom: 150px;
}

.page__about {
  margin-bottom: 302px;
}

.page__types {
  margin-bottom: 150px;
}

.page__video {
  margin-bottom: 250px;
}

.page__address {
  margin-bottom: 35px;
}

.page__footer {
  padding-bottom: 100px;
}
