$font-family: "Open Sans", Verdana, sans-serif;

// BREAKPOINTS

$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;
$large: 1280px;

// COLORS

$primary: #0ad9c6;
$error: #e98e3c;

$header-bgc: #0d0d0d;
$header-bgc-active: #ffffff;
$nav-link: #ffffff;
$nav-border: #ffffff;
$nav-link-bgc-active: #f6f6f6;
$nav-link-active: #48494d;
$nav-link-icon: #91929b;
$nav-link-hover: #0ad9c6;
$toggle-bgc: #0ad9c6;
$toggle: #000000;
$toggle-close: #d3d3d4;

$address-header: #1f1f1f;
$address: #000000;
$contacts-icon: #0ad9c6;
$contacts-link: #000000;
$contacts-hover: #0ad9c6;

$hero: #ffffff;
$form-tablet: #000000;
$form-focus: #0ad9c6;
$form-invalid: #e98e3c;
$button-bgc: #0ad9c6;
$button: #000000;
$input: #1c1c1c;
$input-border: #c9ccd4;
$input-bgc: #ffffff;

$about-counter: #0ad9c6;
$about-header: #1f1f1f;

$types-decor: #0ad9c6;

$video-bgc: #131314;
$video-title: #ffffff;
$video-desc: #ffffff;
