$font-family: "Open Sans", Verdana, sans-serif;

// BREAKPOINTS

$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

// COLORS

$primary: #0ad9c6;

$header-bgc: #1e1e1e;
$header-bgc-active: #ffffff;
$nav-link: #ffffff;
$nav-border: #ffffff;
$nav-link-bgc-active: #f6f6f6;
$nav-link-active: #48494d;
$nav-link-icon: #91929b;
$toggle-bgc: #0ad9c6;
$toggle: #000000;
$toggle-close: #d3d3d4;

$address-header: #1f1f1f;
$address: #000000;
$contacts-icon: #0ad9c6;
$contacts-link: #000000;
